# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
.Python

# Virtualenv
venv/
ENV/
.env/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

test-output/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
